* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: rgba(230, 230, 230, 0.781);
}

nav {
    height: 10vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left {
    width: 20%;
    margin-left: 100px;
    justify-content: left;
}

.nav-center {
    width: 60%;
}

.nav-right {
    width: 20%;
    margin-right: 100px;
    justify-content: right;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    font-weight: bold;
}

.link-seller {
    margin-left: 12px;
}

#active {
    color: blue;
}

