* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: sans-serif;
    background: rgba(230, 230, 230, 0.781);
}

nav {
    height: 10vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left {
    width: 20%;
    margin-left: 100px;
    justify-content: left;
}

.nav-center {
    width: 60%;
    font-size: 1.3rem;
}

.nav-center a {
    color: black;
    cursor: default;
}

.nav-right {
    width: 20%;
    margin-right: 100px;
    justify-content: right;
}

.link {
    padding-bottom: 8px;
    color: black;
}

.link:hover {
    font-weight: bold;
}

.link-seller {
    margin-left: 12px;
}

.active {
    color: blue;
    border-bottom: 2px solid blue;
}

footer {
    height: 60vh;
    margin-top: 100px;
    background: #000000;
    color: white;
}

.footer-information {
    height: 90%;
    margin-left: 100px;
    display: flex;
    gap: 40px;
}

.foot-left, .foot-right , .foot-center {
    width: 25%;
    margin-top: 50px;
}

.foot-center, .foot-right {
    display: flex;
    flex-direction: column;
    color: gray;
    gap: 10px;
}

.foot-center span:hover, .foot-right span:hover {
    color: white;
}

.foot-left a {
    color: white;
}

.foot-title {
    font-size: 1.3rem;
    color: white;
}

.footer-botton {
    height: 10%;
    display: flex;
    align-items: center;
    background: rgb(58, 58, 58);
}

.footer-botton span {
    font-size: 0.8rem;
    margin-left: 100px;
}