#container {
    height: auto;
}

#menu {
    height: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    margin-left: 100px;
}

.menu-right {
    margin-right: 100px;
}

#create {
    padding: 15px;
    border: none;
    border-radius: 25px;
    background: #6F75FE;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

#display-product {
    height: auto;
    margin: 0px 70px;
    padding: 10px;
}

.item {
    height: auto;
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px 20px; 
    border-radius: 20px;
    background: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#modify img:first-child {
    width: 80px;
}

#modify img:last-child {
    width: 59px;
    height: 60px;
}

.number {
    height: 45px;
    width: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #6F75FE;
    color: white;
}

#name {
    width: 25%;
    margin-left: 20px;
}

#price {
    width: 20%;
}

#type {
    width: 14%;
}

#description {
    width: 35%;
}

#modify {
    width: 15%;
    display: flex;
    justify-content: right;
}
/* dialog ---------------------------------------------------- */

#dialog {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
    display: none;
}

/* image show ------------------------------------------------ */
#img-container {
    width: 40%;
    background: #000;
}

.form-container {
    height: auto;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    background: white;
}

#imformation {
    margin-top: 15px;
}

.form-group {
    margin-top: 10px;
}

.form-group > label, .add-left > label, .add-right > label {
    font-size: 1.1rem;
    font-weight: bold;
    color: blue;
}

.two-col {
    display: flex;
    width: 100%;
    gap: 10px;
}

.add-left, .add-right {
    width: 50%;
}

#pdt-name, #pdt-type, #pdt-price, #currency, #pdt-description, #pdt-comment {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    border: 2px solid black;
}

#pdt-description, #pdt-comment {
    resize: none;
}

.btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#btn-cancel, #btn-create {
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background: red;
    color: white;
}

#btn-create {
    background: blue;
}